*{
    margin: 0px;
    padding: 0px;
}
body{
    font: proxima-nova, Arial, sans-serif;
    background-clip: content-box;
    display: flex;
    justify-content: center;
    /* background-image: url(asset_0.png); */

    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    

}
/* .container{

    transition-property: all;
    transition-timing-function: ease-in-out;
    transition-duration: .5s;
    backdrop-filter: blur(5px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 40px;
    min-height: 500px;
    min-width: 400px;
    width: 1000px;
    max-width: 1100px;
    border: 1px solid rgb(0, 170, 255);
    border-radius: 40px;
} */
.container:hover{
    box-shadow: 8px 8px 32px black;
}
.value{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    border:2px solid rgb(0, 0, 0);
    height: 60px;
    width: 300px;

}

.afterContainer{
    /* overflow: scroll; */
    background-color: rgb(187, 187, 187);
    padding-top: 20px;
    border-radius: 20px;
    margin-top: 20px;
    height: 600px;
    overflow: hidden;
    overflow::scroll ;
    min-width: 350px;
    width:900px;
    border: 8px solid rgb(120, 111, 111);
}
.upperContainer{
    /* border: 1px solid rgb(86, 83, 83); */
    text-align: center;
    margin-bottom: 20px;
}
h2{
    font-size: 30px;
    font-family:proxima-nova, Arial, sans-serif;
}
.code{
    font-size: 30px;
    text-align: center;
}
.lowerContainer{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;

}
.data{
    transition: all;
    transition-duration: .4s;
    background-color: rgb(223, 220, 215);
    /* border-radius: 5px; */
    margin: 10px;
    height: 200px;
    width: 200px;
    /* border: 1px solid rgb(255, 255, 255); */
}
.data:hover{
    transform: scale(1.05);
    box-shadow: 6px 6px 32px rgba(0, 0, 0, 0.503);
}

.title{
    /* border-radius: 3px; */
    /* margin: 3px; */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 35px;
    font-size: 20px;
    color: rgb(0, 0, 0);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color:rgb(23,78,207) ;
    /* border: 1px solid black; */
}
.variable{
    /* border: 1px solid black; */
    height: 100px;



}
.card-info{
    /* border: 1px solid black; */
    height: 65px;
    background-color: rgb(235,236,237);

}