
.animate-charcter
{
   text-transform: uppercase;
   text-align: center;
   align-items: center;
  background-image: linear-gradient(
    -225deg,
    #231557 0%,
    #44107a 29%,
    #ff1361 67%,
    #fff800 100%
  );
  background-size: auto auto;
  background-clip: border-box;
  background-size: 200% auto;
  color: #fff;
  background-clip: text;
  text-fill-color: transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: textclip 2s linear infinite;
  display: inline-block;
  font-size: 90px;
}

@keyframes textclip {
  to {
    background-position: 200% center;
  }
}

/* =====================  Second part of the project ======================= */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
}

body {
  background: rgb(255,255,255);
background: linear-gradient(119deg, rgba(255,255,255,1) 0%, rgba(254,253,236,1) 45%, rgba(237,208,208,1) 100%);
    font-family: proxima-nova, Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center; 
  

  }

  .container p{
      transition-property: all;
      transition-timing-function: ease-in-out;
      transition-duration: .5s;
      backdrop-filter: blur(5px);
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin-top: 40px;
      min-height: 100%; /* Ensure container takes up the full height of the viewport */
      min-width: 100%; /* Ensure container takes up the full width of the viewport */
  }
  
  .afterContainer {
      text-align: center;
      padding-top: 20px;
      border-radius: 40px;
      margin-top: 40px;
  }
  .afterContainer h1{
      font-size: 60px;
  }
  .lowerContainer {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-around;
      width: 100%; /* Ensure lowerContainer takes up the full width of the viewport */
  }
  
  .data{
      display: flex;
      flex-direction: column;
      flex-shrink:unset;
      transition: all;
      transition-duration: .4s;
      background-color: rgba(254,253,236,1)
      /* border-radius: 5px; */
      margin: 10px;
      height: 170px;
      width: 200px;
      /* border: 1px solid rgb(255, 255, 255); */
  }
  .data:hover{
      transform: scale(1.05);
      box-shadow: 6px 6px 32px rgba(0, 0, 0, 0.503);
  }
  
  .title{
      /* border-radius: 3px; */
      /* margin: 3px; */
      display: flex;
      justify-content: center;
      align-items: center;
      height: 35px;
      font-size: 20px;
      font-weight: 600;
      color: rgb(255, 255, 255);
      border-radius: 10px;
      font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
      background: rgb(0,26,101);
      background: radial-gradient(circle, rgba(0,26,101,1) 0%, rgba(0,0,0,1) 100%);
}
  .variable{
      /* border: 1px solid black; */
      height: 100px;
      display: flex;
      font-weight: 200;
      justify-content: center;
      align-items: center;
      font-size: 30px;
  
  
  
  }
  .variable-data{
  
  }
  
  .card-info{
      text-align: center;
      font-size: 13px;
      font-weight: 400;
      font-family: proxima-nova, Arial, sans-serif;
      /* border: 1px solid black; */
      border-radius: 10px;
      height: 65px;
      background-color:rgba(254,253,236,1);
  
  }
  #history{
      width:650px;
  }
  .history-table{
      border: 1px solic black;
  }
  #meta-data{
    padding: 10px;
    margin: 10px ;
    height: 165px;
    font-size:  13px;
    overflow: hidden;
  }